.container{
display: flex;
gap: 16px;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}
.box{
    flex: 1;
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.container :nth-child(odd){
    background-color: blue;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}