body{
    background-color:rgb(216, 216, 216);
}
.ID{
    width: 400px;
    padding: 14px;
    background-color: rgb(234, 212, 212);
    margin:20px ;


}
.header{
    background-color :rgb(46, 68, 89);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.image{
    text-align: center;
}

.details{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.foot{
    text-align: center;
}